/* Settings */

// Font sizes

$xxs: 14px;
$xs: 16px;
$sm: 18px;
$md: 22px;
$lg: 24px;
$xl: 30px;
$xxl: 36px;
$extra: 60px;

//colors

$bunker: #242a31;
$yellow: #ffd200;
$creamy: #f3f0e7;
$red: #e11a27;

// font-family

$thin: PFAgora Thin;
$light: PFAgora Light;
$regular: PFAgora Regular;
$bold: PFAgora Bold;


