/* Typography */

// headings

h1 {
  font-size: $extra;
}

h2 {
  font-size: $xxl;
}

h3 {
  font-size: $xl;
}

h4 {
  font-size: $lg;
}

h5 {
  font-size: $md;
}

h6 {
  font-size: $sm;
}

%mainHeading {
  font-family: $xthin;
  font-size: $extra;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// text transform

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}







