/* Header  */

header {

  .logo {

    img {
      height: 19px;
    }
  }

  a {
    color: $bunker;

    &:hover {
      @include opacity(0.8);
    }

    i {
      font-size: $lg;
    }

  }

  .phoneNumber {
    @include border-radius(9px);
    background-color: $yellow;
    @include text-decoration-dashed;
    font-size: $sm;
  }

}