/* Buttons */

.btnMd {
  padding: 10px 35px 15px 35px;
}

.btnL {
  padding: 20px 35px;
  font-size: $lg;
  font-family: $xthin;
}

.btnMain {
  @include border-radius(9px);
  @include border-all(1px, solid, $bunker);
  @include transition(0.7s);
  background-color: transparent;
  letter-spacing: 2px;
    &:hover {
      background-color: $red;
      border-color: transparent;
      color: #ffffff;
    }

}
