/* Content element styles */

body {
  font-size: $sm;
  background-color: #ffffff;
  font-family: $regular;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.containerBig {
  width: 90%;
  margin: 0 auto;
}

.clearAfter {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// Float

.fltRight {
  float: right;
}

.fltLeft {
  float: left;
}

// Content colors

.redColor {
  color: $red;
}

// Text align

.alignCenter {
  text-align: center;
}