/* Content element styles */

body {
  font-size: $sm;
  background-color: #ffffff;
  font-family: $regular;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 0 30px;
}

.clearAfter {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// Float

.fltRight {
  float: right;
}

.fltLeft {
  float: left;
}

